.form {
  padding-bottom: 20px;

  &__item {
    position: relative;
  }

  &__item-error {
    padding-top: 5px;

    position: absolute;
    top: 100%;
    left: 0;

    color: red;
    cursor: pointer;
  }
}
