.UserInfo {
  padding: 5px 10px;

  &__name {
    font-size: 18px;
    font-weight: 500;
  }

  &__email {
    padding: 0 20px;
    color: #0c63e4;
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      color: gray;
    }
  }
}
