.AddTodoForm-input {
  width: 70%;
  margin-right: 15px;
  padding: 15px 0;

  background-color: inherit;
  border: none;
  border-bottom: 2px solid green;

  color: #fff;
  font-size: 18px;

  outline: none;
}

.Error {
  border-color: red;
}
