.todoForm {
  margin-bottom: 25px;

  &__field {
    position: relative;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 18px;
    margin-right: 5px;
  }

  &__input,
  &__select {
    width: 180px;
    height: 20px;
    margin: auto 0;
    border: 1px solid #333;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    outline: none;
    cursor: pointer;
    &:hover {
      border: 1px solid #fff;
    }
  }

  &__option {
    background-color: #000;
    color: #fff;
  }

  &__error {
    width: max-content;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    font-size: 14px;
    top: 3px;
    color: #f00;
  }

  &__btn {
    margin: 20px 0;
    font-size: 14px;
    width: 110px;
    height: 35px;
    color: #666;
    border: 1px solid #333;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      color: #fff;
      border-color: #fff;
    }
  }
}
