@import '../../utils/variables.scss';

.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  border: 2px solid $c-light-grey;
  border-radius: 10px;

  background-color: $c-white;

  &__user-name {
    margin-bottom: 4px;

    font-weight: bold;
  }

  &__user-email {
    color: $c-darker-grey;

    font-size: 14px;
  }

  &__todo-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__todo-status {
    color: $c-green-tint;
  }
}
