.todo-item {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.ui.card:first-child {
  margin: 1em 10px 0 0;
}

.todo-item__id {
  margin-bottom: 20px;
}
