.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__box {
  width: 400px;
  margin-top: 30px;
  background-color: rgb(216, 216, 216);
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: left;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.container__title {
  margin: 0 0 10px;
  font-size: 17px;
  font-weight: 700;
  font-family: "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    sans-serif;
}

.container__text {
  font-size: 16px;
  font-weight: 300;
}
