.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.form__label {
  margin-bottom: 5px;
}

.form__input {
  margin-bottom: 15px;
}

.form__select {
  margin-bottom: 15px;
  color: inherit;
}

.form__error {
  color: #fb4b3b;
  margin-bottom: 15px;
}

.form__button {
  margin-bottom: 30px;
  color: inherit;
}
