.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #ffeefc;
  &__item {
    margin: 10px;
  }
  &__error {
    font-weight: 700;
    color: #8a38e1;
  }
  &__input {
    text-align: center;
    color: #404040;
    border-radius: 20px;
    background-color: rgba(255, 204, 204, 0.41);
    border: 2px solid #eb7ab3;
  }
  &__title {
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 204, 204, 0.41);
    border: 2px solid #eb7ab3;
    width: 300px;
  }
  &__button {
    color: #404040;
    border-radius: 10px;
    background-color: rgba(255, 204, 204, 0.41);
    border: 2px solid #eb7ab3;
    cursor: pointer;
    transition: transform 0.3s color 0.3s background-color 0.3s;
    &:hover {
      transform: scale(1.1);
      background-color: #eb7ab3;
      color: #8a38e1;
    }
  }
}
