table {
  margin-top: 30px;
  border: 2px solid #8992b1;
  border-collapse: collapse;
}

th {
  padding: 5px;
  border: 2px solid #8992b1;
  background-color: honeydew;
}

tr {
  border: 2px solid #8992b1;
}

td {
  padding: 5px;
  border: 2px solid #8992b1;
}

td:nth-child(2) {
  text-align: left;
  width: 500px;
}

td:last-child {
  text-align: center;
  width: 100px;
}

.form {
  margin: 10px;
}

.form__select-error select {
  border: 1px solid red;
}

.form__select-error::after {
  position: absolute;
  content: "Please choose a user";
  display: block;
  font-size: 15px;
  color: red;
  top: 29px;
  left: 415px;
}

.form__input {
  width: 380px;
  height: 20px;
  font-size: 14px;
  margin-right: 7px;
  padding: 2px;
  border: 1px solid #3d4e61;
  outline: none;
  border-radius: 4px;
}

.form__input::placeholder {
  color: red;
  font-weight: 500;
}

.form__select {
  height: 26px;
  font-size: 14px;
  margin-right: 7px;
  padding: 2px;
  border: 1px solid #3d4e61;
  outline: none;
  border-radius: 4px;
}

.form__button {
  width: 100px;
  height: 30px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  background-color: #07613b;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
