.todos {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
}

.input-size {
  justify-content: right;
  margin: 10px auto;
  align-items: center;
  width: auto;
  max-width: 300px;
}

.is-dark {
  border: 1px solid black;
  margin-bottom: 10px;
}
