.User {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-weight: bold;
  font-size: 20px;
  color: black;

  &__name {
    width: 100px;
  }

  &__nick {
    width: 150px;
    text-align: end;
  }
}
