.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
  border-radius: 10%;
  padding: 25px;
  margin: 10px auto;

  background-color: white;
}

.title {
  width: 180px;
  border: none;
  border-bottom: 1px solid silver;
  padding-left: 10px;
  outline: none;

  resize: none;
  overflow: hidden;
}

.errorMes {
  margin: 3px 0 15px;
  color: red;

  font-size: 13px;

  visibility: hidden;
}

.visible {
  visibility: visible;
}

.user {
  width: 180px;
  border: none;
  border-bottom: 1px solid silver;
  outline: none;

  background-color: white;

}

.btn {
  padding: 5px 50px;
  border: 1px solid silver;
  border-radius: 30px;

  background-color: transparent;
}

.btn:hover {
  box-shadow: 2px 2px 15px silver;
}

.btn:active {
  background-color: lightgray;
}

.redBorder {
  border: 1px solid lightcoral;
  border-radius: 10px;

}
