@font-face {
  font-family: "Cyberpunk";
  src: local("Cyberpunk"),
    url("../assets/fonts/Cyberpunk/Cyberpunk.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "BlenderProBook";
  src: local("BlenderProBook"),
    url("../assets/fonts/BlenderProBook/BlenderProBook.otf") format("truetype");
  font-weight: bold;
}
