@mixin animation-slices {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  clip-path: var(--slice-0);
}

@mixin animation-keyframes {
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }

    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }

    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }

    30% {
      clip-path: var(--slice-3);
      transform: translate(0, 5px);
    }

    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0);
    }

    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0);
    }

    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }

    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }

    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }

    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0);
    }

    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
}

@mixin delay-animation {
  @keyframes delay-animation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40.01% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
