.list {
  &__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 700px;
    height: 100px;
    color: #fff;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
