.AddTodoForm {
  width: 100%;
  display: flex;
}

.AddTodoForm-input {
  width: 90%;
  margin-right: 15px;
  padding: 15px 0;

  background-color: inherit;
  border: none;
  border-bottom: 2px solid green;

  color: #fff;
  font-size: 18px;

  outline: none;
}

.AddTodoForm-btn {
  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;

  background-color: #664200;
  color: #fff;
  font-size: 45px;
  cursor: pointer;

  transition: transform 0.3s;
}

.AddTodoForm-btn:disabled {
  background-color: rgba(128, 128, 128, 0.5);
  color: #ccc;
}

.AddTodoForm-btn:hover {
  transform: scale(1.1);
}

.Error {
  border-color: red;
}
