.todo__item {
  height: 150px;
  width: 250px;
  margin: 20px;
  border: 1px solid gray;
  background-color: bisque;
  transition: all 0.3s;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
}

.item:hover {
  background-color: rgb(250, 243, 236);
}

.item__status_active {
  display: inline;
  align-items: center;
  font-weight: bold;
  background-color: rgba(248, 134, 92);
}

.item__status {
  display: inline;
  align-items: center;
  font-weight: bold;
  background-color: rgb(116, 245, 144);
}
