.form {
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid cornflowerblue;
  border-radius: 5px;

  &__item {
    margin: 10px 0;
    border-radius: 5px;
    border-color: cornflowerblue;

    &:focus {
      outline: none;
    }
  }

  &__input {
    padding: 5px 15px;
    width: 150px;
    height: 25px;
    max-width: 190px;
    max-height: 300px;
    border: none;
    border-bottom: 1px solid cornflowerblue;
    border-radius: 0;
    transition: all 0.2s;

    &::placeholder {
      text-align: center;
      color: dimgray;
    }
  }

  &__select {
    height: 25px;
    color: dimgray;
    background-color: rgba(100, 149, 237, 0.1);
    cursor: pointer;
  }

  &__button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      color: cornflowerblue;
      background-color: white;
    }
  }

  &__error {
    border: 1px solid red;
    border-radius: 2px;
  }
}
