.App__list {
  margin-top: 40px;
  padding: 0;

  list-style: none;
}

.App__item {
  width: 400px;

  margin: auto;
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 20px;

  text-align: left;
  background-color: rgb(250, 241, 228);

  border: 3px solid rgb(20, 177, 117);
  border-radius: 25px;
}
