.list {
  margin-top: 50px;
  list-style: none;
}

.list__item {
  width: 300px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid;
  text-align: start;
}

.list__status {
  font-weight: bold;
}
