.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  &__item {
    border: 2px solid forestgreen;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__notCompl {
      border-color: red;
    }
  }
}
