.table {
  background-color: #97f4c8;
  border: 1px solid black;
  margin: 0;
}

.table__header {
  border: 1px solid black;
  margin: 0;
  color: blue;

}

.table__item {
  font-size: 14px;
  text-align: center;
  width: 400px;
  padding: 10px;
  border: 1px solid;
}

.table__item:hover {
  color: blue;
  font-size: 15px;
}
