.Info {
  margin-bottom: 8px;
  padding: 0 15px;
  font-size: 16px;
  overflow: hidden;

  &__title {
    text-transform: uppercase;
    padding-top: 4px;

  }
}

.done {
  color: red;
}

.to-do {
  color: blue;
}
