.info {
  color: #ffab40;
}

.phone {
  float: right;
}

.img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position: absolute;
  right: 1em;
  top: 1em;
}

.wrap-img {
  position: relative;
}


.row {
  width: 70vw;
}
