$form-bgc: rgb(0, 255, 157);
$button-color: rgb(198, 0, 247);
$button-color-hover: rgb(147, 0, 184);
$text-color: rgb(51, 51, 51);

$todoList-text-color: rgb(51, 51, 51);
$todoList-bgc: rgba(223, 223, 223, 0.637);
$todoList-border-color: rgb(97, 96, 96);

$transition-duration: 300ms;
