$c-light-green: #f3f7f6;
$c-light-grey: #e5e5e5;
$c-darker-grey: #828388;
$c-pure-white: #fff;
$c-white: #fefefe;
$c-green-tint: #22adb4;
$c-dark-green-tint: #22adb4;
$c-light-green-tint: #51d7bb;
$c-light-pink: #ffdeea;
$c-pinkish-red: #b32f46;

$c-button-green: #658079;
$c-button-green-hover: #7b9b92;