.addTodo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    width: 200px;
  }

  &__username {
    width: 200px;
  }

  &__button {
    width: 60px;
    height: 40px;
  }

  &__Error {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(241, 10, 10);
  }
}
