.addTodo {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  border: 2px solid cadetblue;
  border-radius: 10px;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
}

.addTodo__error {
  color: red;
  margin-bottom: 5px;
}

.addTodo__input {
  margin-bottom: 5px;
}
