.TodoInfo {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: rgba(255, 136, 0, 0.12);

  &__title {
    margin: 4px 0;
    font-size: inherit;
  }

  &--completed {
    background-color: #c7fa9d5b;
  }
}
