.TodoInfo {
  width: max-content;
  margin: 12px 0;
  padding: 10px;
  background-color: #eae4e4;
  border-radius: 20px;
  border: 0;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: rgb(145, 8, 8);

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &--completed &__title {
    color: rgb(7, 117, 7);
  }
}
