.new-todo-form {
  display: flex;
  align-items: flex-start;
}

.new-todo-form__error {
  height: 20px;
  padding: 5px;
  color: red;
  font-style: italic;
}

.new-todo-form__select-user {
  height: 21px;
}
