.App {
  box-sizing: border-box;
  text-align: center;
  width: 640px;

  margin: 32px;
  padding: 8px;

  border: 2px solid black;
  border-radius: 12px;
  background-color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.todo__list {
  margin: 0;
  padding: 0;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 12px 0 0;
  padding: 0 12px;

  border: 1px solid black;
  border-radius: 12px;
  background-color: #eee;
  font-size: 1.2em;

}

.todo__title {
  text-align: left;
}

.user__info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__selector {
  font-size: 1.2em;
  width: 208px;
  border-radius: 12px;
  text-align: center;
}

.form__input {
  margin-top: 8px;
  font-size: 1.2em;
  width: 200px;
  border-radius: 12px;
  text-align: center;
}

.form__button {
  margin-top: 8px;
  width: 48px;
  border-radius: 12px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgb(27, 219, 59);
}
