* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}
iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.error {
  color: red;
}

.TodoInfo {
  position: relative;
    width: 400px;
  padding: 8px;
  margin: 12px 0;
  border: 3px solid red;
  border-radius: 8px;
  background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    font-size: 14px;
      color: black;
    }

    &__img {
      position: absolute;
      top: 35%;
      left: 90%;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    &__description {
      padding-right: 30px;
      margin-bottom: 2px;
  }

        &--completed {
          border-color: green;
  }
}

.UserInfo {
  font-style: italic;
}
