iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.error {
  color: red;
  position: absolute;
  left: 105%;
  bottom: 50%;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: row;
  position: relative;
}

.App {
  padding: 20px;
  max-width: 350px;
}

.TodoInfo {
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 8px;

  &__title {
    margin: 4px 0;
    font-size: inherit;
  }

  &--completed &__title {
    color: #080;
  }
}

.form-button {
  width: 100%;
  height: 45px;
}
