.App {
  text-align: center;
}

.error {
  border-color: red;
  position: relative;
}

.list__item {
  padding: 10px;
  width: 200px;
}

.TodoList {
  display: flex;
  justify-content: center;
}

.TodoList-container {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
}

.error-label {
  color: red;
}
