@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap");

html {
  font-family: Rubik;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4dfd3;
}

ul {
  list-style-type: none;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  &__item {
    padding: 30px 20px;
    width: 500px;
    border: 2px solid slateblue;
    margin-bottom: 30px;
    border-radius: 20px;
  }
}

.App {
  &__form {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
  &__button {
    margin-top: 10px;
    width: 100px;
  }
  &__select {
    margin-bottom: 10px;
  }
  &__error {
    margin-bottom: 10px;
  }
}
