.App {
  text-align: center;
}

.form {
  display: flex;
  width: 800px;
  margin: 0 auto;
  gap: 10px;

  &__input {
    padding: 10px 25px;
  }

  &__select {
    padding: 10px 25px;
  }

  &__submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 39px;
  }
}
