.app {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f5f5f5;
  background: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 20px 0;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #222;
  transition: all 1s easy;
}

h1:hover {
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #1a1a1a;
}

form {
  padding: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 400px;
  background: #444;
  border-radius: 10px;

  box-shadow: inset 5px 5px 5px rgba(10, 10, 10, 0.5);
}

button,
input,
select {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 100%;
  width: 320px;
  border-radius: 5px;
  margin: 10px 0 20px;
  outline: 0;
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(0,0,0,0.5);
  background: rgba(0,0,0, 0.25);
}

button {
  height: 36px;
}

input[type="text"]::-webkit-input-placeholder {
  background: rgba(0,0,0, 0.8);
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: rgba(255,255,255,0.8);
}

input[type="text"]::placeholder:hover {
  color: rgba(255,255,255,0.4);
}

input[type="text"]::placeholder:focus {
  color: transparent;
}

input[type="text"] {
  display: block;
  padding: 8px 12px 10px;
  border: 1px solid rgba(0,0,0,0.5);
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 2px 2px 5px rgba(10, 10, 10, 0.5);
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  margin: 50px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: 40px 0;
  list-style: none;
  color: rgba(255,255,255,0.8);
  height: 200px;
  font-size: 18px;
  min-width: 300px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

li.dark {
  background: #444;
  box-shadow: inset 5px 5px 5px rgba(10, 10, 10, 0.5);
}

li.light {
  background: #008000;
  box-shadow: inset 5px 5px 5px rgba(10, 10, 10, 0.5);
}

select {
  color: rgba(255,255,255,0.8);
  text-shadow: 0 1px black;
  padding: 8px 12px 10px;
  border: 1px solid rgba(0,0,0,0.5);
  background: rgba(0,0,0, 0.25);
  /* eslint-disable-line no-use-before-define*/
  box-shadow: inset 2px 2px 5px rgba(10, 10, 10, 0.5);
  -webkit-appearance: none;
}

select:focus {
  color: #ccc;

}

option {
  margin: 30px;
  background: rgba(0,0,0, 0.8);
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

select:active,
select:focus {
  outline: none;
}

.error {
  position: absolute;
  color: rgb(168, 110, 16);
  margin-top: -18px;
}

.card_number {
  position: absolute;
  top: -30px;
  left: 30px;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #222;
  transition: all 1s easy;
  font-size: 20px;
}

.task-title {
  font-weight: bold;
}

.task-value {
  font-style: oblique;
}

.task-checkbox {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 30px;
}

input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
}
