iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  position: relative;
  padding: 16px;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .2;
    border-radius: 10px;
    z-index: -1;
  }

}

.title {
  text-align:center;
  color: rgb(255, 247, 247);
}

.form {
  margin-bottom: 20px;
}

.field {
  margin: 0 0 35px;
}

