body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}

.list {
  box-sizing: border-box;
  text-align: center;
  width: 40%;
  padding: 30px;
  margin: 0;
  list-style: decimal;
}

.item {
  text-transform: uppercase;
  margin: 10px 0;
}
