html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-image: url("./images/wooden-boards.jpg");
  background-size: contain;
}

.App {
  padding: 3vh 5vw;
  margin: 0 auto;
  max-width: 900px;
  color: #e5d8cd;
}

.App__header {
  text-align: center;
}

.App__count {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 11px;
}
