html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  margin-left: 20px;
}

.App {
  width: 700px;
  padding: 30px;
}

.error {
  color: red;
}

.TodoInfo {
  width: max-content;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid rgba($color: #000, $alpha: 0.1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &:first-child {
    margin-top: 30px;
  }

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: #f00;
  }

  &--completed &__title {
    color: #080;
  }
}
