html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

iframe {
  display: none;
}

.error {
  color: red;
}

.field {
  margin-bottom: 12px;
}
.App {
  max-width: 850px;
  margin: 0 auto;
}

.TodoInfo {
  width: max-content;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: #f00;
  }

  &--completed &__title {
    color: #080;
  }
}

.UserInfo {
  font-style: italic;
}
.completed {
  background-color: #97f383 !important;
  transition: background-color 1s;
}

.not-completed {
    background-color: #f1a4a4 !important;
    transition: background-color 1s;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}
