@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins, sans-serif;
}

.App {
  position: relative;
  width: 550px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

h1 {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1da1f2;
  letter-spacing: 1px;
}

.field {
  text-align: center;
  margin-top: 30px;
}

label,
input,
button,
select {
  display: block;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

label {
  margin-bottom: 4px;
}

input::placeholder {
  color: gray;
}

input,
select {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

select {
  color: #789;
}

input {
  caret-color: #b0c4de;
}

button {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

iframe {
  display: none;
}

.error {
  color: #8a2be2;
}

.TodoInfo {
  width: max-content;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #d3d3d3;
  background-color: #ecf0f3;
  border-radius: 20px;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: #4169e1;
  }

  &--completed &__title {
    color: #9400d3;
  }
}

.UserInfo {
  font-style: italic;
  color: #808080;
}
