* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;

  &__form {
    margin: auto;

    &--form {
      // height: 80px;
      // width: 300px;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo {
  margin: 46px;
  
  &Item {
    margin-bottom: 22px;
  }

  &Heading {
    color: rgb(76, 110, 60);
  }

  &Container {
    background-color: rgb(239, 247, 245);
    border-radius: 20px;
    padding: 6px 20px;
  }
}

.user {
  color: #693c08;
  font-weight: 400;
}

.todos__container {
  display: flex;
  flex-direction: column;
}

.todos__title {
  margin: auto;
  font-size: 36px;
  font-weight: bold;
  color: #493548;
}

.userParagraph {
  font-size: 14px;
}