iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.input, .select {
  width: 230px;
  margin-right: 5px;
  margin-left: 5px;
}

.error {
  color: red;
}

.App {
  margin: 8px;

  &__form {
    padding: 15px;
    width: max-content;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 15px;
  }

  &__field {
    display: flex;
    align-items: center;
  }
}
