.App {
  text-align: center;
}

.error-message {
  position: absolute;
  z-index: 1;
  top: -35px;
  right: 25px;
  display: inline-block;
  background-color: #dc3545;
  padding: 5px 15px;
  color: #fff;
}

.error-message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -10px;
  right: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #dc3545;
}
