* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  border: 3px pink solid;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

input,
select,
textarea {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  width: 170px;
  margin: 10px;
}

textarea {
  width: 165px;
}

.error {
  margin-left: 10px;
  color: rgb(227, 149, 149);
  font-size: 12px;
  text-align: left;
}

.todo_list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  margin: 0 0 10px 10px;
  cursor: pointer;
}
