.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
}

.todos_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.todo {
  width: 250px;
  height: 160px;
  padding: 30px 20px;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.input,
.button {
  margin: 10px;
}
