body {
  background-image: url(./images/background2.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Amatic SC, sans-serif;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
}

.app {
  text-align: center;
  padding-left: 20px;
}

.main-title {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(41, 60, 80);
}

.title {
  font-size: 25px;
  color: rgb(41, 60, 80);
}
