.title {
  text-align: center;
}

form {
  margin: 0 auto;
  height: 70px;
}

.todo {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.field {
  margin-bottom: 20px;
}
