html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.App {
  max-width: 450px;
  margin: 30px auto;
}

.error {
  color: red;
}

.span {
  margin-left: 20px;
}

.TodoInfo {
  width: max-content;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: #f00;
  }

  &--completed &__title {
    color: #080;
  }
}

.UserInfo {
  font-style: italic;
}

.button {
  outline: none;

  &:hover {
    border: 2px solid #ff9970;
    font-weight: bold;
  }

  &:active {
    background-color: #ff9970;
  }
}
