.page-content {
  padding: 20px;
}

.App__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: max-content;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  margin: 0;
}

.button {
  width: 100px;
  border: 1px solid #000;
  background-color: lightgrey;
  border-radius: 5px;
  align-self: center;
}

.Input-field {
  display: flex;
  gap: 10px;

  &__select {
    width: max-content;
  }
}
