body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background: linear-gradient(to right, #c9ffbf, #ffafbd);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.app {
  text-align: center;

  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inputTitle {
    width: 200px;
    height: 50px;

    border: 1px solid black;
    border-radius: 5px;

    margin-bottom: 10px;

    background-color: transparent;
  }

  &__select {
    width: 200px;
    height: 50px;

    border: 1px solid black;
    border-radius: 5px;

    margin-bottom: 10px;

    background-color: transparent;
  }

  &__status {
    margin-bottom: 10px;
  }

  &__button {
    width: 200px;
    height: 50px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: transparent;

    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
