@import "styles/reset";
@import "styles/variables";
@import "styles/fonts";
@import "styles/blocks/form";

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px;
  background-color: $colorPrimaryDarkViolet;
  height: 100vh;

  &__wrapper {
    background-color: $colorPrimaryBlue;
    padding-bottom: 15px;
  }

  &__title {
    font-family: Cyberpunk, monospace;
    display: block;
    cursor: default;
    margin: 0;
    font-size: 45px;
    padding: 0 20px 0 10px;
    color: $colorPrimaryYellow;
    text-align: right;
    background-color: $colorFont;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 111px;
      top: 0;
      right: 0;
      background-color: $colorPrimaryRed;
      width: 12px;
      z-index: 1;
    }
  }
}
