body {
  background: linear-gradient(45deg, #fff1eb, #ace0f9);
}

.App {
  width: 700px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0 auto;
  color: rgb(5, 5, 85);
}

.app-inner {
  text-align: center;
}

.add-todo {
  padding-bottom: 40px;
}

.task-title {
  display: inline-block;
  padding-right: 60px;
}

.new-task {
  display: block;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 50px;
}

.container {
  /* margin-right: 10px; */
  font-size: 18px;
}

.title {
  display: flex;
  font-size: 18px;
  /* max-width: 250px; */
}

.title-input {
  background: none;
  border: none;
  color: rgb(5, 5, 85);
  font-size: 18px;
  resize: none;
}

.delete {
  margin-top: 77px;
  width: 85px;
  height: 37px;
  border-radius: 8px;
  font-size: 16px;
  background: linear-gradient(45deg, #d46486, #fef9d7);
  border: none;
  color: rgb(5, 5, 85);
}

.select-user {
  max-width: 10px;
}

.change {
  color: rgb(5, 5, 85);
  width: 85px;
  height: 37px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 5px;
  background: linear-gradient(45deg, #a8edea, #fed6e3);
  border: none;
}

.fild {
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  text-align-last: center;
  background: linear-gradient(45deg, #9890e3, #b1f4cf);
  border: none;
  color: white;
  font-size: 16px;
}

.new-fild::-webkit-input-placeholder {
  color: white;
}

.error {
  border: 1px solid red;
}

.title-error {
  color: red;
}