iframe {
  display: none;
}

html {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page {
  padding: 75px;
}

label,
button {
  cursor: pointer;
}

.App {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.error {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.TodoInfo {
  width: auto;
  padding: 8px;
  margin: 12px 0;
  border-radius: 8px;
  // background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: rgb(213, 192, 32);
  }

  &--completed &__title {
    color: rgb(0, 255, 0);
  }
}

.UserInfo {
  font-style: italic;
}

.container {
  border-bottom-style: groove;
  display: grid;

}
.inputRestyle {
  text-align: center;
  border-style:hidden;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}
