.App {
  text-align: center;

  &__title {
    font-size: 30px;
  }

  &__form {
    margin-bottom: 20px;
  }

  &__inputBox {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
  }

  &__input {
    display: flex;
    align-items: center;
  }

  &__eror {
    color: red;
  }
}

label {
  margin-right: 10px;
}
