html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.error {
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  &__form {
    width: 25vw;
  }

  &__select {
    display: block;
    width: 100%;
  }

  &__button {
    display: block;
    margin: auto;
  }
}
