#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.button {
  margin-top: 20px;
}

.ui.dropdown {
  margin-top: 10px;
}

.error-span {
  font-size: 16px;
  margin-top: 15px;
  font-weight: bold;
}
