iframe {
  display: none;
}

html {
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}

.with-error {
  border: 3px solid red;
}

.error {
  color: red;
}

.TodoList {
  display: grid;
  row-gap: 8px;
  padding: 12px 0;
}

.TodoCard {
  display: flex;
  gap: 4px;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;

  background-color: #ddd;

  &__title {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 4px;
  }
}
