.todos {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 40px;

  &__heading {
    margin-bottom: 40px;
  }

  &__item {
    padding: 20px 20px;
    margin-bottom: 30px;
    background-color: #e7ebf0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__status {
    color: #2446ed;
    font-weight: bold;
    margin-bottom: 10px;
  }
}