.app__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.app__form input,
select {
  margin-bottom: 10px;
}

.app__form input,
select,
button {
  line-height: 30px;
  height: 30px;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid black;
}

.app__form button {
  cursor: pointer;
  background: deepskyblue;
}

.app__form button:hover {
  cursor: pointer;
  background: steelblue;
}

.app__form span {
  margin-bottom: 10px;
  font-size: 12px;
  margin-top: -8px;
  align-self: end;
}

.error {
  display: block;
  color: red;
}

.hide-error {
  display: none;
}
